<%- include('includes/head', { pageTitle: 'An error occured!'}) %>
</head>
<body>
  <%- include('includes/header') %>
  <main>
    <h1>Not Authenticated</h1>
    <p>Unfortunately, you are not authenticated!</p>
    <p><a class="btn" href="/login">Login here!</a></p> 
  </main>
  
<%- include('includes/footer') %>