<%- include('includes/head', { pageTitle: 'An error occured!'}) %>
</head>
<body>
  <%- include('includes/header') %>
  <main>
    <h1>Not Authorized!</h1>
    <p>Unfortunately, you are not Authorized!</p>
    <p><a class="btn" href="/">Go back!</a></p> 
  </main>
  
<%- include('includes/footer') %>